html {
    background-color: seashell;
}

header#banner { 
    margin: 0; 
    border: 0;
    width: 50%;
    padding: 10px;
}

ol {
    margin: 0;
    width: 50%;
    padding-left: 0px;
}
nav#menu ul {
    margin: auto;
    list-style-type: none;
    padding: 0;
    width: fit-content;
    overflow: hidden;
    background-color: coral;
    border-radius: 25px;
}

nav#menu ul li {
    float: left;
}
 
nav#menu ul li a {
    display: block;
    text-align: center;
    padding: 16px;
}

section#content {
    margin-left: 5%;
}

section#content ol#post-list li {
    margin: 50px;
}
section#content ol#post-list li ol li {
    margin: -10px;
    padding: 5px;
}


/* div.entry-content ol {
    margin-top: -30px;
}

div.entry-content ol li p {
    margin-bottom: -30px;
} 